//main: main.scss

@media only screen and (min-width: 900px) {
    .header {
        position: fixed;
        width: 100%;
        header {
            max-width: 1000px;
        }
    }

    .page {
        flex-direction: row;
        justify-content: flex-start;
        width: 200%;
        overflow: scroll;
        overflow-x: scroll;
        scroll-snap-align: center;
        margin-top: 150px;
        //border: 1px solid red;

        .container {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            //border: 1px solid blue;

            h1 {
                margin: 100px;
                width: 500px;
                height: fit-content;

                .deco {
                    width: 100%;
                    height: 2px;
                    border-bottom: 2px solid black;
                    margin: 20px 0 15px 0;
                }
            }
            
            .picture {
                width: 500px;
            }

            article {
                width: 500px;
                height: 100%;
                border: 1px solid blue;
            }
        }
    }
    footer {
      position: fixed;
        bottom: -20px;
    }
}