//main: main.scss

@media only screen and (min-width: 900px) {
    .header {
        position: fixed;
        width: 100%;
        header {
            max-width: 1000px;
        }
    }

    .page {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        border: 1px solid red;
        
        article {
            max-width: 2000px;
            height: 100%;
            border: 1px solid blue;

            h1 {
                width: 45%;
                border: 1px solid red;
            }
            
            picture {
                width: 45%;
                border: 1px solid red;
            }

        }
    }
    footer {
        position: fixed;
        bottom: -20px;
    }
}