//main: main.scss

* {
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "lobster";
    src: url(../risorse/Lobster-Regular.ttf);
}

/*------------background-color---------------*/
$c1: white;


/*---------------effetti------------------ */
$ombra: rgba(0, 0, 0, 0.363) 0px 0px 18px 2px;


/*---------------text-color---------------- */
$c2: rgba(75, 75, 75, 0.905);