* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "lobster";
  src: url(../risorse/Lobster-Regular.ttf);
}

/*------------background-color---------------*/
/*---------------effetti------------------ */
/*---------------text-color---------------- */
html {
  background-color: white;
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header header {
  background: #3f5efb;
  background: linear-gradient(45deg, #6ec5ff 0%, #fc466b 100%);
  border-radius: 10px;
  height: 50px;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.363) 0px 0px 18px 2px;
          box-shadow: rgba(0, 0, 0, 0.363) 0px 0px 18px 2px;
  position: relative;
}

.header header .logo a {
  font-family: "lobster";
  color: black;
  text-decoration: none;
}

.header header .hamburger img {
  -webkit-transition: all linear 0.25s;
  transition: all linear 0.25s;
  margin: 5px 5px 0 0;
}

.header header .tendina {
  width: 80vw;
  position: absolute;
  left: 7.5%;
  z-index: -1;
  top: -140px;
  margin: auto;
  background-color: #7b90b8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: flex-end;
  list-style: none;
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.363) 0px 0px 18px 2px;
          box-shadow: rgba(0, 0, 0, 0.363) 0px 0px 18px 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header header .tendina li {
  padding: 25px;
  font-size: large;
  text-align: center;
  font-weight: bold;
}

.header header .tendina li:last-of-type {
  padding-bottom: 55px;
}

.header header .tendina li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all linear 0.15s;
  transition: all linear 0.15s;
}

.header header .tendina li a:hover {
  font-size: 20px;
}

.hamburger:hover img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .hamburger:hover .tendina {
    top: 10px;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .hamburger:hover .tendina:hover {
    top: -140px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

.page {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page .home {
  text-align: center;
  margin: 80px 0 30px 0;
  padding: 10px;
}

.page .home .deco {
  width: 80%;
  height: 2px;
  border-bottom: 2px solid black;
  margin: -7px auto 0 auto;
}

.page .home .title {
  font-family: "lobster";
  font-size: 100px;
}

.page .picture {
  margin: auto;
  width: 100%;
  max-width: 600px;
}

.page article {
  padding: 20px;
  max-width: 600px;
}

.page article h2 {
  text-align: center;
  margin-bottom: 20px;
}

.page article p, .page article address {
  text-align: justify;
  color: rgba(75, 75, 75, 0.905);
  max-width: 700px;
}

form fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  padding: 15px;
  background-color: rgba(126, 138, 162, 0.398);
  -webkit-box-shadow: rgba(0, 0, 0, 0.363) 0px 0px 18px 2px;
          box-shadow: rgba(0, 0, 0, 0.363) 0px 0px 18px 2px;
  max-width: 700px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

form fieldset div {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0 20px 0;
}

form fieldset div input {
  width: 100%;
  height: 35px;
}

form fieldset .ogetto {
  width: 100%;
}

form fieldset .ogetto input {
  width: 100%;
  height: 35px;
}

form fieldset fieldset {
  margin: 0;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

form fieldset fieldset textarea {
  width: 100%;
  resize: none;
}

form fieldset h5 {
  font-weight: 300;
}

form fieldset #pulsante {
  margin: auto;
  width: 100px;
  height: 45px;
  border-radius: 10px;
}

footer {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer .deco {
  width: 250px;
  height: 2px;
  border-bottom: 2px solid black;
  margin: auto;
}

footer .social img {
  width: 30px;
  margin: 30px 5px 5px 5px;
  border-radius: 10px;
}

footer address {
  display: none;
}

footer .address2 {
  margin: 5px 0 40px 0;
}

@media only screen and (min-width: 700px) {
  form fieldset div {
    width: 50%;
    padding-left: 5px;
  }
  form fieldset div input {
    width: 70%;
    margin: 10px;
  }
  form fieldset .oggetto {
    width: 100%;
    padding-left: 5px;
  }
  form fieldset .oggetto input {
    width: 86.3%;
  }
}

@media only screen and (min-width: 900px) {
  .header {
    position: fixed;
    width: 100%;
  }
  .header header {
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header header .hamburger {
    position: relative;
    top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header header img {
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header header .tendina {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: transparent;
    position: relative;
    top: 15px;
    left: 0px;
    z-index: inherit;
    width: initial;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header header .hamburger:hover {
    position: relative;
    top: 0;
  }
  .header header .hamburger:hover img {
    display: none;
  }
  .header header .hamburger:hover .tendina {
    top: 15px;
  }
  .page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-top: 150px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  .page .container {
    min-width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page .container .home {
    margin: 0 auto 50px auto;
    width: 550px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .page .container .home .title {
    font-family: "lobster";
    font-size: 200px;
    margin-left: 0px;
  }
  .page .container .home .deco {
    margin: -20px 20px 10px 0;
    width: 100%;
  }
  .page .container2 {
    min-width: 100vw;
  }
  .page .container2 .container2-2 {
    max-width: 1800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 100px;
    margin: auto;
  }
  .page .container2 .container2-2 .picture {
    width: 500px;
  }
  .page .container2 .container2-2 article {
    min-width: 400px;
    max-width: 500px;
    height: 100%;
  }
  .page form {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page form fieldset fieldset {
    margin-bottom: 13px;
  }
  .page form input[type=number]::-webkit-inner-spin-button,
  .page form input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .page form #pulsante {
    width: 200px;
  }
  footer {
    position: fixed;
    bottom: -20px;
  }
  footer .social img {
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
  }
  footer .social img:hover {
    width: 35px;
  }
}
/*# sourceMappingURL=mein.css.map */